In [4]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('Mall_customers.csv')
df
print(df.columns)

Index(['Customer ID', 'Gender', 'Age', 'Annual Income',
       'Spending Score (1-100)', 'Unnamed: 5', 'Unnamed: 6'],
      dtype='object')

In [7]:
# Replacing the cloumn names
df.rename(columns = {'Spending Score (1-100)' : 'Spending score'},inplace = True)
columns_to_drop = ['Unnamed: 5', 'Unnamed: 6']

# Drop the unwanted columns
df.drop(columns_to_drop, axis=1, inplace=True)

In [36]:
df

   Customer ID   Gender  Age  Annual Income  Spending score
0            1     Male   19             15              39
1            2     Male   21             15              81
2            3   Female   20             16               6
3            4  Female    23             16              77
4            5   Female   31             70              40

In [18]:
df.head()

df.shape

df.isnull().any()

Customer ID       False
Gender            False
Age               False
Annual Income     False
Spending score    False
dtype: bool

In [25]:
#No Null Values 
#Seperating the dataset as x and  y

y = df['Spending score']
X=df.drop(columns = 'Spending score')
print(X)

   Customer ID   Gender  Age  Annual Income
0            1     Male   19             15
1            2     Male   21             15
2            3   Female   20             16
3            4  Female    23             16
4            5   Female   31             70

In [26]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Assuming 'y' is your target variable (Annual Income) as an array or series
y = pd.Series([39, 81, 6, 77, 40])

# Assuming 'X' is your dataframe of input features
data = {
    'Customer ID': [1, 2, 3, 4, 5],
    'Gender': ['Male', 'Male', 'Female', 'Female', 'Female'],
    'Age': [19, 21, 20, 23, 31],
    'Annual Income': [15, 15, 16, 16, 70]
}
X = pd.DataFrame(data)

# Remove 'Customer ID' from X if it's not a relevant feature for prediction
X.drop(columns=['Customer ID'], inplace=True)

# Split the data into training and test sets (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=45)

# Display shapes of the resulting datasets
print("X_train shape:", X_train.shape)
print("y_train shape:", y_train.shape)
print("X_test shape:", X_test.shape)
print("y_test shape:", y_test.shape)

X_train shape: (4, 3)
y_train shape: (4,)
X_test shape: (1, 3)
y_test shape: (1,)

In [22]:
#splitting into train and test splits
from sklearn.model_selection import train_test_split
X_train, X_test, y_train , y_test = train_test_split(X,y,test_size = 0.2,random_state =45)
X_train.shape,y_train.shape
X_test.shape,y_test.shape

((1, 4), (1,))

In [10]:
#Using label encoder for the Gender
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
X_train['Gender']=labelencoder.fit_transform(X_train['Gender'])
X_test['Gender']=labelencoder.fit_transform(X_test['Gender'])

In [11]:
X_train

   Customer ID  Gender  Age  Annual Income
4            5       0   31             70
0            1       2   19             15
2            3       0   20             16
3            4       1   23             16

In [12]:
from sklearn import svm 
svm_model = svm.SVR()
svm_model.fit(X_train,y_train)
svm_prediction = svm_model.predict(X_test)
from sklearn.metrics import mean_absolute_error
svm_mae = mean_absolute_error(y_test,svm_prediction)
svm_mae

41.88724645003549

In [13]:
from sklearn.tree import DecisionTreeRegressor

dt_model = DecisionTreeRegressor()

dt_model.fit(X_train, y_train)

dt_prediction = dt_model.predict(X_test)

dt_mae = mean_absolute_error(y_test, dt_prediction)

dt_mae

75.0

In [16]:
from sklearn.linear_model import LinearRegression

lr_model = LinearRegression()

lr_model.fit(scaled_X_train, y_train)

lr_prediction = lr_model.predict(scaled_X_test)

lr_prediction
lr_mae = mean_absolute_error(y_test, lr_prediction)

lr_mae

70.22093579976253

In [14]:
from sklearn.preprocessing import StandardScaler

std_scaler = StandardScaler()

scaled_X_train = pd.DataFrame(std_scaler.fit_transform(X_train), columns=X_train.columns, index=X_train.index)
scaled_X_test = pd.DataFrame(std_scaler.fit_transform(X_test), columns=X_test.columns, index=X_test.index)

labelencoder = LabelEncoder()
scaled_X_train['Gender'] = labelencoder.fit_transform(X_train['Gender'])
scaled_X_test['Gender'] = labelencoder.fit_transform(X_test['Gender'])

svm_model.fit(scaled_X_train, y_train)

new_svm_prediction = svm_model.predict(scaled_X_test)

mean_absolute_error(y_test, new_svm_prediction) # 20.52389413223758

41.657200930268466

array([10.7790642])