In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns 
from sklearn.model_selection import train_test_split
df = pd.read_csv('spam.csv')

In [2]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
df.isnull().sum()
df.shape
df['Category'].value_counts

<bound method IndexOpsMixin.value_counts of 0        ham
1        ham
2       spam
3        ham
4        ham
        ...
5567    spam
5568     ham
5569     ham
5570     ham
5571     ham
Name: Category, Length: 5572, dtype: object>

In [6]:
df.isnull().sum()

Category    0
Message     0
dtype: int64

In [7]:
df.shape

(5572, 2)

In [9]:
df['Category'].value_counts()

ham     4825
spam     747
Name: Category, dtype: int64

In [11]:
#undersampling 
ham_messages=df[df['Category'] == 'ham']
spam_messages = df[df['Category'] == 'spam']
undersampled_ham = ham_messages.sample(n=len(spam_messages), random_state=42)

len(undersampled_ham)
new_df = pd.concat([undersampled_ham,spam_messages])
print(new_df)

     Category                                            Message
3714      ham  If i not meeting ü all rite then i'll go home ...
1311      ham  I.ll always be there, even if its just in spir...
548       ham                   Sorry that took so long, omw now
1324      ham  I thk 50 shd be ok he said plus minus 10.. Did...
3184      ham  Dunno i juz askin cos i got a card got 20% off...
...       ...                                                ...
5537     spam  Want explicit SEX in 30 secs? Ring 02073162414...
5540     spam  ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...
5547     spam  Had your contract mobile 11 Mnths? Latest Moto...
5566     spam  REMINDER FROM O2: To get 2.50 pounds free call...
5567     spam  This is the 2nd time we have tried 2 contact u...

[1494 rows x 2 columns]

In [12]:
##chanding the categorical column values from ham to 0 and spam to 1 

from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
new_df['Category']=le.fit_transform(new_df['Category'])
print(new_df.head())

      Category                                            Message
3714         0  If i not meeting ü all rite then i'll go home ...
1311         0  I.ll always be there, even if its just in spir...
548          0                   Sorry that took so long, omw now
1324         0  I thk 50 shd be ok he said plus minus 10.. Did...
3184         0  Dunno i juz askin cos i got a card got 20% off...

In [13]:
#balancing because all the ham rows are in the top and spam rows in the bottom,shuffling
balanced_df=new_df.sample(frac=1,random_state = 42).reset_index(drop = True)
balanced_df.head(10)

   Category                                            Message
0         1  URGENT, IMPORTANT INFORMATION FOR O2 USER. TOD...
1         1  Panasonic & BluetoothHdset FREE. Nokia FREE. M...
2         1  Do you want a new Video handset? 750 any time ...
3         1  Hi if ur lookin 4 saucy daytime fun wiv busty ...
4         1  09066362231 URGENT! Your mobile No 07xxxxxxxxx...
5         0  Will do. Was exhausted on train this morning. ...
6         0    Oh Howda gud gud.. Mathe en samachara chikku:-)
7         0  Dear Hero,i am leaving to qatar tonite for an ...
8         0                    Great! How is the office today?
9         0      Oooh bed ridden ey? What are YOU thinking of?

In [18]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Assume balanced_df is already defined and contains the balanced dataset

# Features and target variables
x = balanced_df['Message']
y = balanced_df['Category']

# Split the data into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

# Check the shapes of the resulting splits
print("x_train.shape:", x_train.shape)
print("x_test.shape:", x_test.shape)
print("y_train.shape:", y_train.shape)
print("y_test.shape:", y_test.shape)

x_train.shape: (1195,)
x_test.shape: (299,)
y_train.shape: (1195,)
y_test.shape: (299,)

In [25]:
#As we are dealing with text dats, we need to do something to convert that into a numerical value.Tfidf vectorizer
from sklearn.feature_extraction.text import TfidfVectorizer 
corpus = [ 
    'This is first document',
    'This is Second document',
    'And this is third',
]

vectorizer = TfidfVectorizer()
x=vectorizer.fit_transform(corpus)
print(vectorizer.get_feature_names_out())
x.toarray()

['and' 'document' 'first' 'is' 'second' 'third' 'this']

array([[0.        , 0.50410689, 0.66283998, 0.39148397, 0.        ,
        0.        , 0.39148397],
       [0.        , 0.50410689, 0.        , 0.39148397, 0.66283998,
        0.        , 0.39148397],
       [0.6088451 , 0.        , 0.        , 0.35959372, 0.        ,
        0.6088451 , 0.35959372]])

In [22]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Example corpus
corpus = [
    'This is the first document',
    'This is the second document',
    'And this is the third one',
]

# Initialize the TfidfVectorizer
vectorizer = TfidfVectorizer()

# Fit and transform the corpus
x = vectorizer.fit_transform(corpus)

# Get feature names
print(vectorizer.get_feature_names_out())

# Print the TF-IDF matrix
print(x.toarray())

['and' 'document' 'first' 'is' 'one' 'second' 'the' 'third' 'this']
[[0.         0.46941728 0.61722732 0.3645444  0.         0.
  0.3645444  0.         0.3645444 ]
 [0.         0.46941728 0.         0.3645444  0.         0.61722732
  0.3645444  0.         0.3645444 ]
 [0.49711994 0.         0.         0.29360705 0.49711994 0.
  0.29360705 0.49711994 0.29360705]]

In [26]:
vectorizer=TfidfVectorizer(min_df=1,stop_words='english',lowercase = True)

In [30]:
new_x_train = vectorizer.fit_transform(x_train)
new_x_test = vectorizer.transform(x_test)

In [31]:
#Logistic regression 
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(new_x_train,y_train)
lr_prediction = lr.predict(new_x_test)
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test,lr_prediction)
print(accuracy)

0.9498327759197325