In [45]:
import pandas as pd

In [46]:
df=pd.read_csv('melb_data.csv')
pd.set_option('display.max_column',100)

In [47]:
df.head()

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [48]:
df.shape

(18396, 22)

In [49]:

df.isnull().sum()

Unnamed: 0           0
Suburb               0
Address              0
Rooms                0
Type                 0
Price                0
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          3469
Bathroom          3471
Car               3576
Landsize          4793
BuildingArea     10634
YearBuilt         9438
CouncilArea       6163
Lattitude         3332
Longtitude        3332
Regionname           1
Propertycount        1
dtype: int64

In [50]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,18396.0,1.182679e+04,6800.710448,1.00000,5936.750000,11820.500000,1.773425e+04,2.354600e+04
Rooms,18396.0,2.935040e+00,0.958202,1.00000,2.000000,3.000000,3.000000e+00,1.200000e+01
Price,18396.0,1.056697e+06,641921.666710,85000.00000,633000.000000,880000.000000,1.302000e+06,9.000000e+06
Distance,18395.0,1.038999e+01,6.009050,0.00000,6.300000,9.700000,1.330000e+01,4.810000e+01
Postcode,18395.0,3.107140e+03,95.000995,3000.00000,3046.000000,3085.000000,3.149000e+03,3.978000e+03
Bedroom2,14927.0,2.913043e+00,0.964641,0.00000,2.000000,3.000000,3.000000e+00,2.000000e+01
Bathroom,14925.0,1.538492e+00,0.689311,0.00000,1.000000,1.000000,2.000000e+00,8.000000e+00
Car,14820.0,1.615520e+00,0.955916,0.00000,1.000000,2.000000,2.000000e+00,1.000000e+01
Landsize,13603.0,5.581164e+02,3987.326586,0.00000,176.500000,440.000000,6.510000e+02,4.330140e+05
BuildingArea,7762.0,1.512202e+02,519.188596,0.00000,93.000000,126.000000,1.740000e+02,4.451500e+04
YearBuilt,8958.0,1.965880e+03,37.013261,1196.00000,1950.000000,1970.000000,2.000000e+03,2.018000e+03
Lattitude,15064.0,-3.780985e+01,0.081152,-38.18255,-37.858100,-37.803625,-3.775627e+01,-3.740853e+01
Longtitude,15064.0,1.449963e+02,0.106375,144.43181,144.931193,145.000920,1.450600e+02,1.455264e+02
Propertycount,18395.0,7.517975e+03,4488.416599,249.00000,4294.000000,6567.000000,1.033100e+04,2.165000e+04

In [51]:
#info method to know the categorical values 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18396 entries, 0 to 18395
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     18396 non-null  int64
 1   Suburb         18396 non-null  object
 2   Address        18396 non-null  object
 3   Rooms          18396 non-null  int64
 4   Type           18396 non-null  object
 5   Price          18396 non-null  float64
 6   Method         18396 non-null  object
 7   SellerG        18396 non-null  object
 8   Date           18396 non-null  object
 9   Distance       18395 non-null  float64
 10  Postcode       18395 non-null  float64
 11  Bedroom2       14927 non-null  float64
 12  Bathroom       14925 non-null  float64
 13  Car            14820 non-null  float64
 14  Landsize       13603 non-null  float64
 15  BuildingArea   7762 non-null   float64
 16  YearBuilt      8958 non-null   float64
 17  CouncilArea    12233 non-null  object
 18  Lattitude      15064 non-null  float64
 19  Longtitude     15064 non-null  float64
 20  Regionname     18395 non-null  object
 21  Propertycount  18395 non-null  float64
dtypes: float64(12), int64(2), object(8)
memory usage: 3.1+ MB

In [68]:
#nunique to know the number of unique values 
df.nunique()

Unnamed: 0       18396
Suburb             330
Address          18134
Rooms               11
Type                 3
Price             2470
Method               5
SellerG            305
Date                58
Distance           211
Postcode           206
Lattitude         7519
Longtitude        8169
Regionname           8
Propertycount      324
dtype: int64

In [70]:
#dropping the columns 
df=df.drop(columns=['Distance','Postcode','Propertycount'])

In [71]:
#checking the missing values 
df.isnull().sum()

Unnamed: 0    0
Suburb        0
Address       0
Rooms         0
Type          0
Price         0
Method        0
SellerG       0
Date          0
Lattitude     0
Longtitude    0
Regionname    1
dtype: int64

In [72]:
df['Lattitude'].fillna(df['Lattitude'].mean(), inplace=True)
df['Longtitude'].fillna(df['Longtitude'].mean(), inplace=True)
df['Regionname'] = df['Regionname'].fillna('Unknown')

In [73]:
df.isnull().sum()

Unnamed: 0    0
Suburb        0
Address       0
Rooms         0
Type          0
Price         0
Method        0
SellerG       0
Date          0
Lattitude     0
Longtitude    0
Regionname    0
dtype: int64

In [74]:
#considering the values with low cardinality
low_cardinality_col = [col for col in df.columns if df[col].dtype == object and df[col].nunique()<10]
num_col = [col for col in df.columns if df[col].dtype in [int,float]]

In [75]:
x= df[low_cardinality_col + num_col].drop(columns = 'Price')
x.tail()

,Type,Method,Regionname,Unnamed: 0,Rooms,Lattitude,Longtitude
18391,t,SP,Western Metropolitan,23540,2,-37.86393,144.90484
18392,h,PI,Western Metropolitan,23541,4,-37.85908,144.89299
18393,h,S,Northern Metropolitan,23544,4,-37.72006,145.10547
18394,h,SP,Western Metropolitan,23545,4,-37.81188,144.88449
18395,h,VB,Western Metropolitan,23546,4,-37.81829,144.87404

In [76]:
y=df['Price']

In [77]:
x[low_cardinality_col].nunique()

Type          3
Method        5
Regionname    9
dtype: int64

In [78]:
#label encoder
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
x['Type'] = le.fit_transform(df['Type'])
x['Method']=le.fit_transform(df['Method'])
x['Regionname']=le.fit_transform(df['Regionname'])
x.head()

   Type  Method  Regionname  Unnamed: 0  Rooms  Lattitude  Longtitude
0     0       1           2           1      2   -37.7996    144.9984
1     0       1           2           2      2   -37.8079    144.9934
2     0       3           2           4      3   -37.8093    144.9944
3     0       0           2           5      3   -37.7969    144.9969
4     0       4           2           6      4   -37.8072    144.9941

In [79]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=56)
x_train.shape,x_test.shape

((14716, 7), (3680, 7))

In [80]:
y_train.shape,y_test.shape

((14716,), (3680,))

In [81]:
#decision tree regression

from sklearn.tree import DecisionTreeRegressor 
dtr=DecisionTreeRegressor()
dtr.fit(x_train,y_train)
dtr_prediction=dtr.predict(x_test)
from sklearn.metrics import mean_absolute_error
mae=mean_absolute_error(y_test,dtr_prediction)
mae

272030.5070652174

In [82]:
#random forest regressor 
from sklearn.ensemble import RandomForestRegressor 
def rf_mae(x_train,x_test,y_train,y_test):
    rfr=RandomForestRegressor()
    rfr.fit(x_train,y_train)
    prediction=rfr.predict(x_test)
    rfr_mae = mean_absolute_error(y_test,prediction)
    return rfr_mae

In [83]:
rf_mae(x_train,x_test,y_train,y_test)

206564.21897826085

In [86]:
df['Price'].mean()

1056697.4609154165

In [84]:
import numpy as np 
mean_price = df['Price'].mean()
baseline_mae=np.mean(np.abs(df['Price']-mean_price))

In [85]:
baseline_mae

458568.9503538542